<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.sssystem.edu.dept.DeptVO" alias="deptVO"/>
		<typeAlias type="com.sssystem.edu.job.JobVO" alias="jobVO"/>
		<typeAlias type="com.sssystem.edu.category.CategoryVO" alias="categoryVO"/>
		<typeAlias type="com.sssystem.edu.test.TestVO" alias="testVO"/>
	</typeAliases>
</configuration>
