<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.sssystem.edu.vo.DeptVO" alias="deptVO"/>
		<typeAlias type="com.sssystem.edu.vo.JobVO" alias="jobVO"/>
		<typeAlias type="com.sssystem.edu.vo.CategoryVO" alias="categoryVO"/>
		<typeAlias type="com.sssystem.edu.vo.TestVO" alias="testVO"/>
		<typeAlias type="com.sssystem.edu.vo.QnaBoardVO" alias="qnaVO"/>
      	<typeAlias type="com.sssystem.edu.vo.search.SearchVO" alias="searchVO"/>
      	<typeAlias type="com.sssystem.edu.vo.support.SessionVO" alias="sessionVO"/>
      	
      	<!-- board -->
		<typeAlias type="com.sssystem.edu.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.sssystem.edu.vo.ReplyVO" alias="replyVO"/>
		<typeAlias type="com.sssystem.edu.vo.AttachFileVO" alias="attachVO"/>
		
		<!-- admin -->
		<typeAlias type="com.sssystem.edu.admin.vo.MemberVO" alias="adminMemberVO"/>
		<typeAlias type="com.sssystem.edu.admin.vo.PageVO" alias="adminPageVO"/>
		
		<!-- Learn -->
		<typeAlias type="com.sssystem.edu.vo.LearnVO" alias="learnVO"/>
		<typeAlias type="com.sssystem.edu.vo.search.SearchLearnVO" alias="SearchLearnVO"/>
		<typeAlias type="com.sssystem.edu.vo.CompleteVO" alias="completeVO"/> 
		<typeAlias type="com.sssystem.edu.vo.AuthVO" alias="authVO"/> 
		<typeAlias type="com.sssystem.edu.vo.AttachFileVO" alias="attachVO"/>
		
		<!-- member -->
		<typeAlias type="com.sssystem.edu.vo.MemberVO" alias="memberVO"/>
		
	</typeAliases>
</configuration>
