@CHARSET "EUC-KR";
@IMPORT url("/iessvn/admin/common.css");

#content h3 { float:left; font:18px Dotum; font-weight:bold;}
#content #search { float:right; text-align:right; font:12px Gulim; color:#666; }
#content #con { clear:both; padding-top:20px; }

#error { font:11px nanumgothic; color:#f00;}
.listTable { clear:both; width:860px; margin-bottom:20px;  }
.listTable th { border-bottom:2px solid #D9D9D9; font:12px Dotum; color:#808282; padding:10px 0; }
.listTable td { border-bottom:1px solid #D9D9D9; font:12px Dotum; color:#808282; padding:10px 0; text-align:center;}
.listTable td a,a:link { text-decoration: none; font-style: normal; color:#808282; font-weight:bold;}
.listTable td a:hover { text-decoration: underline;}

.viewTable { clear:both; width:860px; margin-bottom:20px; border-top:2px solid #CCC; }
.viewTable th { width:100px; padding:5px 0; text-align:center;  border-bottom:1px dotted #CCC; background:#EFEFEF; color#666; font:12px Dotum; font-weight:bold; }
.viewTable td { width:150px; padding:5px 10px; border-bottom:1px dotted #CCC; }
.viewTable td input.txt { width:140px; font:12px Dotum; color:#666; padding:2px 3px; }
.viewTable td input.txt1 { width:400px; font:12px Dotum; color:#666; padding:2px 3px; margin-top:5px; }
.viewTable td select,option { width:140px; font:12px Dotum; color:#666; padding:2px 3px;}

#con #left { float:left; }
#con #right { float:right; text-align:right; }

#top{position:static; top:80;}

.css_btn_small {
	font-size:13px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #dcdcdc;
	padding:4px 15px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
	background-color:#ffffff;
	color:#666666;
	display:inline-block;
}.css_btn_small:hover {
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
	background-color:#f6f6f6;
}.css_btn_small:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */