<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="deptService" class="com.sssystem.edu.service.impl.DeptServiceImpl"/>
	<bean id="jobService" class="com.sssystem.edu.service.impl.JobServiceImpl"/>
	<bean id="caetgoryService" class="com.sssystem.edu.service.impl.CategoryServiceImpl"/>
	<bean id="testService" class="com.sssystem.edu.service.impl.TestServiceImpl"/>
	<bean id="qnaService" class="com.sssystem.edu.service.impl.QnaServiceImpl"/>
	<bean id="BoardService" class="com.sssystem.edu.service.impl.BoardServiceImpl"/>
	<bean id="chk" class="com.sssystem.edu.common.ValidateParamChk"/>
	<bean id="adminMemberService" class="com.sssystem.edu.admin.service.impl.AdminMemberServiceImpl"/>
	<bean id="memberService" class="com.sssystem.edu.service.impl.MemberServiceImpl"/>
	
</beans>
