@charset "utf-8";

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0; padding:0}
body,input,textarea,select,button,table{font-family:'돋움', Dotum, Helvetica, sans-serif; font-size:12px;}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}


html {height:100%}
body {position:relative; height:100%; background:#f5f5f5;}

#wrap	{position:relative; min-height:100%; border-top:2px solid #433ebe;}
#header, #container {margin:0 10px;}
#header {position:relative; height:110px; padding:30px 0 0;}
#container {width: 768px; padding-bottom:80px;}

/* img */
.logo {background:url(/IES/images/Logo.png) no-repeat; background-size:264px auto;}

/* hidden */
.hid_txt {display:block; overflow:hidden; width:264px; height:74px; margin:0 auto; background-position:-1px -1px; line-height:999px}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}


/* layout */
.join_form {clear:both}

.error {margin:3px 0; font:11px Dotum; color:#f00;}
.nonError { margin:3px 0; font:11px Dotum; color:#00F;}
.bar {display:inline-block; width:1px; height:13px; background:#ccc; text-indent:-999em}

.dep_info {padding-bottom:10px;}
.dep_info h2 {display:inline-block; padding-right:10px;}
.dep_info span {font-size:14px; color:#433ebe;}

/* form */
.row_group {margin-bottom:10px; padding:15px; border:1px solid #dadada; background:#fff;}

.join_row {border-top:solid 1px #dadada; padding:11px 11px 11px 13px; background:#fff;}
.join_row_name {padding:11px 11px 11px 13px; background:#fff;}
.join_row:first-child {border-top: medium none;}

.emaild1, .emaild2, .linenum1, .linenum2, .linenum3, .cellnum1, .cellnum2, .cellnum3, .secnum1, .secnum2, .secnum3 {display:table-cell; table-layout:fixed; vertical-align:middle;}
.join_row .cell {display:table-cell; width:10px; padding:2px 10px 0 0; color:#888; vertical-align:middle;}

.join_addr {position:relative;}
a.btn_search {position:absolute; right:8px; top:8px; display:inline-block; width:160px; height:31px; border:1px solid #ddd; background:#fff; font-size:12px; color:#433ebe; line-height:33px; text-align:center; text-decoration:none; z-index:999}

.input_box {display:block; overflow:hidden}
.int {position:relative; width:100%; padding:7px 0 6px; height:16px; z-index:9; border:none; background:#fff; font-size:15px; color:#000; line-height:16px;}
.lbl {position:absolute; top:16px; left:15px; z-index:8; font-size:15px; color:#999; line-height:16px}
.btn_join {width:460px; height:60px; margin:20px 0;}
.btn_join input {width:100%; height:60px; border:1px solid #433ebe; background:#5752c5; font:italic 18px Georgia; color:#fff; letter-spacing:2px;}

/* screen - css */
@media only screen and (min-width:1024px){
	#header,#container{width:768px;margin:0 auto !important}
	#content{width:460px;margin:0 auto}
}