@CHARSET "EUC-KR";
@IMPORT url("/IES/common.css");

#con { margin:20px; } 
.listTab { clear:both; width:850px; border-top:2px solid #666666; border-bottom:2px solid #666666; border-spacing: 0px;}
.listTab th { height:35px; border-bottom:1px solid #CCC; color:#333333; font:12px Dotum 600; background-color: #f4f3f1; }
.listTab td { height:30px; border-bottom:1px solid #CCC; color:#666; font:12px Dotum; text-align:center; }
.listTab td.left { padding-left:30px; text-align:left; }

.contentTab { width:850px; border-top:2px solid #666666; border-spacing: 0px;}
.contentTab th { height:35px; border-bottom:1px solid #CCC; color: #666; font:13px Dotum bolder;  background-color: #f7f6f4}
.contentTab td { height:30px; border-bottom:1px solid #CCC; color: #666; font:12px Dotum; text-align:center; padding: 5px 0px; }
.contentTab td.left { padding-left:15px; text-align:left; }

.moveTab { width:850px; border-top:1px solid #666666; border-spacing: 0px}
.moveTab td { height:20px; border-bottom:1px solid #CCC; color: #666; font:12px Dotum; text-align:center; padding: 5px 0px; }
.moveTab td.left { padding-left:15px; text-align:left; }

#center{ width: 850px; margin: 0 auto; text-align: center;}

.listtop{ width: 850px; height:45px; margin: 0 auto;background-color: #5f6a72; margin-top: 35px; border: 3px #ffffff; border-spacing: 0; padding: 0px;}
.listtop th {float:left; color: #ffffff; margin: 0px 20px;}
.listtop td {vertical-align:middle; padding-top: 3px; font-size:80%; color: #ffffff;}
#align { text-align : left;}

#bot {margin-top:20px; }
#paging {float:left;}
#sub{widows:910px;}

.listTab td span.before { padding:3px 5px; border:1px solid #5270e9; background: #b4d1fe; color:#4C4C4D; }
.listTab td span.doing { padding:3px 5px; border:1px solid #1DC148; background:#bfffcc; color:#4C4C4D; }
.listTab td span.success { padding:3px 5px; border:1px solid #929292; background:#d9d9d9; color:#4C4C4D; }

.accordion {text-align: left;}
.accordion dt {margin-left: 5px;}
.accordion dd {background-color: #eeeeee ;}
.accordion b {font-size: 15px;}

input[type="text"] {
  appearance: none;
  box-shadow: none;
  border-radius: none;
  height: 25px;
  width: 250px;
}
input[type="text"]:focus {
  outline-color: #ffffff;
}

a:link,
a:visited,
a:active				{ text-decoration:none; color:#333; }

.link1:hover			{ text-decoration:underline; color:#529CFF; }
