@CHARSET "EUC-KR";

body { margin:0; padding:0; left:0; top:0 }
ul li { list-style:none; }
h1, h2, h3, h4, h5 { margin:0; padding:0}

#wrap { margin:0; padding:0; width:100%; }
header { width:100%; height:70px; padding:20px; background:#E5E5E5; margin:0; }
header #con { width:1160px; height:70px; margin:0 auto; }
header #con #top { float:left; }
header #con #userInfo { float:right; width:897px; text-align:right; font:12px Dotum; color:#555 }
header #con #userInfo em { font-style:normal; text-decoration:none; font-weight:bold; }
header #con #userInfo a:link { text-decoration:none; color:#000; font-weight:bold;  }
nav { float:left; width:897px; text-align:left;  }

#logo { float:left; width:263px; height:77px; }
#topMenu { vertical-align:bottom;   }
#topMenu li { display: inline-block; font:18px Gulim; font-weight:bold; color:#35328D; width:150px; height:30px; text-align:center; padding:5px 0 5px 0;  }
#topMenu li a:link { font-style:none; text-decoration: none; color:#35328D; }
#topMenu li.current { background-color:#FFF; border-radius:5px;}

#content { width:1200px; min-height:600px; padding:0; margin:0 auto; }
aside { width:228px; min-height:580px; background:#F8F8F8; float:left; border:1px solid #BCC0C3; margin:10px 0; }
aside h3 { margin:40px 0 0 20px; font:24px Dotum; font-weight:bold; color:#666; }
aside ul.leftMenu { margin:20px 0 0 0; padding:0; }
aside ul.leftMenu li { font:14px Dotum; color:#35328D; border-bottom:1px dashed #CCC; padding:10px 15px;}
aside ul.leftMenu li.this { font:14px Dotum; color:#35328D; font-weight:bold; letter-spacing:-1px;}
aside ul.leftMenu li a:link { text-decoration:none; color:#35328D; }
aside ul.leftMenu li a:hover { font-weight:bold; }


#eduMenuList { width:100%; }
#eduMenuList li { display:list-item; }

section { width:970px; min-height:600px; background:#FFF; float:left; padding-bottom:40px; }

footer { clear:both; width:100%; height:20px; padding:20px; background:#E5E5E5; }
footer #con { width:1160px; margin:0 auto; text-align:center; font:12px Dotum; color:#999;  }

/* paging */
.paging {width:100%; text-align:center; height:25px; }
.paging a {display:inline-block; height:23px; line-height:22px; border:1px solid #ccc; background-color:#fff; text-decoration:none; vertical-align:top; overflow:hidden;}
.paging a span {display:block; height:23px; vertical-align:middle; font-size:12px; font-family:verdana, tahoma, sans-serif; color:#555; min-width:8px; padding:0 8px 0 7px; letter-spacing:-1px;}
.paging a.arrow {background-color:#fff;}
.paging a.arrow span {background-image:url(/IES/admin/images/paging_arrow.gif); background-repeat:no-repeat; text-indent:-9999px; width:23px; padding:0;}
.paging a.current {background-color:#fff; border:1px solid #d50c0c; color:#d50c0c; font-weight:bold;}
.paging a.current span {color:#d50c0c;}
.paging a.current:hover {background-color:#fff;}
.paging a.first span {background-position:6px 8px;}
.paging a.prev span {background-position:-22px 8px;}
.paging a.next span {background-position:-348px 8px;}
.paging a.end span {background-position:-378px 8px;}
.paging a:hover {background-color:#ececec;}

/* button */
.css_btn_class {
	font-size:13px;
	font-family:Gulim;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	padding:6px 20px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
	background-color:#ffffff;
	color:#666666;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
	background-color:#f6f6f6;
}.css_btn_class:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */
